@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #0a0a0a;
	--foreground: #ededed;
}

.ant-app {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
	height: 100vh;
}

form {
	label {
		color: var(--foreground) !important;
	}
}
